<style type="text/css">
    a {
        color: orange;
        text-decoration: inherit;
    }

    .anotherDataToNavbar {
        text-align: right;
    }

    

    li {
        display: inline;
    }
</style>
<div class="topnav">
    <div class="anotherDataToNavbar nav mr-5">
        <ul>
            <li><a href="#">UK:(+44) 208 0901819 </a></li>
            <li><a href="#">US:(+1) 301 563 9488</a></li>
            <li><a href="#">AUS:(+61) 3 8676 8288, (+61) 3 9511 5598</a></li>
        </ul>
    </div>
    <div class="flex flex-wrap py-3 items-center justify-between">
        <a href="/">
            <div class="inline-flex items-center gap-x-10">
                <img src="https://www.dotsquares.com/img/uploads/dotlo-1-1.png" height="256" width="256" class="">

            </div>
        </a>
        <div>

            <div class="hidden md:flex grid gap-x-10 Navbar" style="margin-left:680px;">

            </div>

        </div>
        <!-- JavaScript Code starts here -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">  </script>
        <script type="text/javascript">

            jQuery(function ($) {
                //alert(343434);
                $(document).ready(() => {
                    $.ajax({
                        url: "https://liveapi-sandbox.yext.com/v2/accounts/me/entities?api_key=b262ae7768eec3bfa53bfca6d48e4000&v=20211229&limit=40&entityTypes=ce_dotsquaresPrototype",
                        type: 'GET',
                        dataType: 'json',
                        success: function (res) {
                            var html = "";

                            var result = res;
                            var cat = result.response.entities;
                            // console.log(cat);
                            cat.forEach((f, i) => {
                                let n = f.name; // Here n means Name
                                console.log(n);
                                let s = f.slug; // Here s means Slug

                                html += '<a href=' + s + ' class="headerLink hover:text-yellow-500 text-white">' + n + '</a>';
                            })
                            $(".Navbar").append(html);

                        }

                    })


                })
            })
        </script>
        <!-- JavaScript code ends here -->

        <!-- JavaScript Code for phone numbers in navbar starts here -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">  </script>
        <script type="text/javascript">

            jQuery(function ($) {
                $(document).ready(() => {
                    $.ajax({
                        url: "https://liveapi-sandbox.yext.com/v2/accounts/me/entities?api_key=b262ae7768eec3bfa53bfca6d48e4000&v=20211229&limit=40&entityTypes=ce_dotsquares_address",
                        type: 'GET',
                        dataType: 'json',
                        success: function (addressRes) {
                            var addressHtml = "";
                            var addressResult = addressRes;
                            var addressCat = addressResult.response.entities;
                            // console.log(cat);
                            addressCat.forEach((m, e) => {
                                console.log(m);
                                let rgn = m.address.city;
                                let mP = m.mainPhone;

                                addressHtml += '<a href="/" class="headerLink">' + rgn + ' : ' + mP + '&nbsp</a>';
                            })
                            // $(".anotherDataToNavbar").append(addressHtml);
                        }
                    })

                })
            })
        </script>
        <!-- JavaScript code for phone numbers  in navbar ends here -->

        <div class="hidden md:block order-2 md:order-3 flex items-center" id="nav-content">


        </div>


    </div>

    <div class="links-mobile-view px-5 py-3 bg-white text-black justify-end" id="myLinks">
        <div><a href="/" class="headerLink hover:underline ">Home</a></div>
        <div><a href="/about" class="headerLink hover:underline ">About</a></div>
        <div><a href="#" class="headerLink hover:underline ">Blog</a></div>
    </div>
</div>
