
<div class=" centered-container">

<div class=" text-black">
    <div class="flex flex-wrap py-7 items-center justify-between">
        <a href="/">
            <div class="inline-flex items-center gap-x-3">
                
                
            </div>
        </a>
         <div class=" grid grid-cols-3 gap-4 newNav">
          </div>  
</div></div> </div>
        <!-- JavaScript Code starts here -->
       
        <script type="text/javascript">

        jQuery(function($){
        //alert(343434);
        $(document).ready(()=>{
        $.ajax({
            url:  "https://liveapi-sandbox.yext.com/v2/accounts/me/entities?api_key=b262ae7768eec3bfa53bfca6d48e4000&v=20211229&limit=40&entityTypes=ce_ourValues",
            type: 'GET',
            dataType: 'json',
            success: function(res) {
                var html="";
              var result=res;
              var cat = result.response.entities;
              // console.log(cat);
              cat.forEach((f,i)=>{
                let n = f.name; // Here n means Name
                let d = f.richTextDescription;
                html+= '<ul class="flex flex-wrap bg-white text-black pt-4 md:pt-0 py-4 px-5 my-2" > <li> <h1 class="font-bold text-xl mb-2">'+n+'</h1>\
                         <p class="text-white-700 text-base">'+d+'</p></li> </ul>';
              })
             $(".newNav").append(html);
            }
        })

   })
})
</script>