 <div class=" nav">
    <ul>
      <li>UK: <a href="tel:+442080901819">(+44) 208 0901819 </a></li>
      <li>US: <a href="tel:+13015639488">(+1) 301 563 9488</a></li>
      <li>AUS: <a href="tel:+61386768288">(+61) 3 8676 8288,</a> <a href="tel:+61395115598">(+61) 3 9511 5598</a></li>
    </ul>
  </div>