---
{
"stream": {
"$id": "navbarListing",
"source": "knowledgeGraph",
"destination": "pages",
"filter": {
"entityTypes": [
"ce_mainDotsquaresPrototype"
]
},
"fields": [
"id",
"uid",
"name",
"slug",
"c_relatedCategory.slug",
"c_relatedCategory.name",
"c_relatedCategory.c_relatedCategory.name",
"c_relatedCategory.c_relatedCategory.slug",
"c_relatedCategory.c_relatedCategory.c_relatedMenuCategory.name",
"c_relatedCategory.c_relatedCategory.c_relatedMenuCategory.slug",
"c_mainRelatedNavber.slug",
"c_mainRelatedNavber.name",
"c_mainRelatedNavber.c_customSubmenuitem.name",
"c_mainRelatedNavber.c_customSubmenuitem.slug",
"c_mainRelatedNavber.c_relatedCategory.c_relatedMenuCategory.name",
"c_mainRelatedNavber.c_relatedCategory.c_relatedMenuCategory.slug"

],
"localization": {
"locales": ["en"]
}
},
"urlFormat": "index.html"
}
---



<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dotsquares Prototype</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{>head}}
  <link rel="stylesheet" type="text/css" href="https://assets.sitescdn.net/answers/v1/answers.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">

  <script src="https://assets.sitescdn.net/answers/v1/answers.min.js"></script>
</head>

<body>
{{>PrototypeMenu}}




  <!-- Navbar code ends here -->

  <div class="home-banner">
    <img src="https://wallpaperaccess.com/full/186244.jpg">
    <div class="banner-content">
      <div class="centered-container">
        <h1>Welcome to the Dotsquares</h1>
      </div>
    </div>
  </div>
  <div class="banner-bottom-content">
    <div class="centered-container">
      <p>Multiple technologies at our fingertips, a worldwide presence and an appetite for all things digital.....</p>
      <button class="btn">MORE</button>
    </div>
  </div>
  <div class="proud-sec">
    <img src="https://www.dotsquares.com/img/forbes_conti.png">
  </div>
  <div class="our-clients">
    <div class="centered-container">
      <h2>Our Clients</h2>
      <div class="clients-list">
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_yanki.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_bookit.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_news-client.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_comdo.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_aribnd.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_shildpay.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_honda.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_fujitsu.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_thomas.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_dunkin.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_virgin.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_sta.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_honda.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_fujitsu.png">
        </div>

        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_thomas.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_dunkin.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_virgin.png">
        </div>
        <div class="client-logo">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://www.dotsquares.com/img/partner_sta.png">
        </div>
      </div>
    </div>
  </div>


  

  {{>footer}}


  {{!-- https://www.dotsquares.com/img/forbes_conti.png --}}

</body>

</html>
